{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeleritasAI</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script src="{% static 'script/home.js' %}"></script>
</head>
<body>
    <header id="myHeader" class="">
        <!--svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.6 401.1"-->
		<img id="logo" src="{% static 'images/celeritas_black-removebg-preview.png' %}">
      <path fill="#fff" fill-rule="evenodd" d="M502.8 0h211.8l-23 39.7-138.5 240L483 401H342.7L413 279.6 251.4 0h140.3L483 158.1 538.6 62 502.8 0Zm-201 279.6L140.1 0H0l231.7 401 70-121.4Z"/>
        <nav>
            <a href="{% url 'home:homepage' %}">Home</a>
            <a href="#knowledge">Services</a>
            <a href="#space">About Us</a>
            <a href="#future">Our Products</a>
            <a href="#contactUs">Contact Us</a>
            <button id="openmenu">
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>
    <div id="page">
        <section id="vision" style="background-image:url(https://assets.codepen.io/214624/vision.jpg);background-size: cover;background-repeat: no-repeat;">
            <h1>We offer wide range of products</h1>
        </section>
        <section style="background-image:url('home/static/images/knowledge.jpg');background-size: cover;background-repeat: no-repeat;">
            <div style="z-index: 9999;">
                <h2>Advanced chatbot</h2>
                <iframe src="https://anshuman265-hellostreamlit-app-xhl4xv.streamlit.app//?embed=true" height="400" width="800" style='width:"100%";border:"none !important";'></iframe>
            </div>
        </section>
    </div>
</body>
</html>