{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeleritasAI</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script src="{% static 'script/home.js' %}"></script>
</head>
<body>
    <header id="myHeader" class="">
        <!--svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.6 401.1"-->
		<img id="logo" src="{% static 'images/celeritas_black-removebg-preview.png' %}">
      <path fill="#fff" fill-rule="evenodd" d="M502.8 0h211.8l-23 39.7-138.5 240L483 401H342.7L413 279.6 251.4 0h140.3L483 158.1 538.6 62 502.8 0Zm-201 279.6L140.1 0H0l231.7 401 70-121.4Z"/>
    </svg>
        <nav>
            <a href="{% url 'home:homepage' %}">Home</a>
            <a href="#knowledge">Services</a>
            <a href="#space">About Us</a>
            <a href="{% url 'home:chatbot' %}">Our Products</a>
            <a href="{% url 'home:release' %}">Press Releases</a>
            <a href="#contactUs">Contact Us</a>
            <button id="openmenu">
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>
    <div id="page" class="">
        <section id="vision">
            <h1>CeleritasAI</h1>
        </section>
        <section id="knowledge" style="background-image:url('home/static/images/knowledge.jpg');background-size: cover;background-repeat: no-repeat;">
            <h1>Knowledge.</h1>
        </section>
        <section id="space" style="background-image:url(https://assets.codepen.io/214624/space.jpg);background-size: cover;background-repeat: no-repeat;">
            <h1>Data</h1>
        </section>
        <section id="future" style="background-image:url(https://assets.codepen.io/214624/future.jpg);background-size: cover;background-repeat: no-repeat;">
            <h1>Future.</h1>
        </section>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
    VANTA.NET({
    el: "#vision",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xe62b64,
    points: 12.00
    })
</script>
</html>