{%extends 'home/base.html'%}{% load static %}{%block content%}
<div id="page">
    <section id="vision" style="background-image:url(https://assets.codepen.io/214624/vision.jpg);background-size: cover;background-repeat: no-repeat;">
        <h1>We offer wide range of products</h1>
    </section>
    <section style="background-image:url('home/static/images/knowledge.jpg');background-size: cover;background-repeat: no-repeat;">
        <div style="z-index: 9999;">
            <h2>Advanced chatbot</h2>
            <iframe src="https://anshuman265-hellostreamlit-app-xhl4xv.streamlit.app//?embed=true" height="400" width="800" style='width:"100%";border:"none !important";'></iframe>
        </div>
    </section>
</div>
{%endblock%}